{% extends "layout.html" %}
{% block title %} Book Reviews {% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
</head>
{% block body %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <p class="lead">
        Welcome to bookreviews. After you have registered and logged in, you are able to rate our books.
            You can give a rating and write a review. For comparison, you can also see the ratings of
            other users and the average rating from goodreads.com. Thanks for visiting us.
        </p>
      </div>
    </div>
  </div>
</header>
{% endblock %}
</html>