{% extends "layout.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/navigation_bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %} Find your Book {% endblock %}</title>
</head>
<body>
{% block body %}
  <div class="search-container">
    <form action="{{ url_for('get_books') }}" method="post">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
      <small id="username_help" class="form-text text-muted">{{ message }}</small>
  </div>
    <h1>Results:</h1>
    <ul>
        {% for title, author, year, isbn in search_results %}
        <li> <i>Title:</i> <a href="{{ url_for('layout_books', isbn=isbn) }}">{{ title }}</a>,
            <i>Author:</i> {{ author }},
            <i>Year:</i> {{ year }}
            - ISBN {{ isbn }}</li>
        {% endfor %}
    </ul>
        <small style="color:magenta"> {{ result }}</small>
{% endblock %}
</body>
</html>